/* index css */

*{
    box-sizing: border-box;
}

.content{
    margin-top: 130px;
}

.ad-image {
    max-width: 97%; 
    height: auto;
    margin: 0 2%; 
}


#reviews-box {
    background-color: #d1d1d1;
    border-radius: 30px;
    padding: 3% 5%;
    margin: 0 2%;
  }
  
  #reviews-box h3 {
    font-size: 3rem;
    text-align: center;
    font-family: "Populaire";
  }

  #reviews-box h5 {
    font-size: 1.4rem;
    text-align: center;
  }
  
  #reviews-box .reviews {
    height: 300px;
    overflow-y: scroll;
    margin-top: 20px;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 5px;
    padding: 10px;
    background-color: #fdf7f7;

  }
  
  #reviews-box .review {
    margin-bottom: 20px;
  }
  
  #reviews-box .review-header {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }
  
  #reviews-box .review-header h4 {
    margin: 0;
    font-size: 1.5rem;
    font-family: "Inter_Regular";
  }
  
  #reviews-box .rating {
    font-size: 20px;
    margin-left: 10px;
    font-size: 2rem;

  }
  
  #reviews-box .star {
    color: #E66614;
  }
  
  #reviews-box .empty {
    color: #ccc;
  }
  
.carousel-cell{

    width: 66%;
    height: 32.5vw;
    margin-right: 10px;
    border-radius: 15px;
    background-size: cover;
    background-position: center;
}

.carousel-cell:before{
    display: block;
    content: '';
}

.section {
    margin: 0;
    padding: 0;
}

.featured {
    font-family: "Populaire";
    font-size: 3rem;
    margin-top: 5rem;
    margin-left: 1rem;
}

.featured-products {
    background: #FC803A;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    display: flex;
    width: 32%;
    max-width: max-content;
    margin: 10px 0px 10px 0px;
    padding: 20px;
    align-content: stretch;
    position: relative;
    cursor: pointer;
}

.featured-products .img {
    width: 100%;
}

.featured-products .img img{
    width: 100%;
    height: 100%;
    border-radius: 10px;
    object-fit: cover;
}

.featured-products .details {
    width: 10vw;
    height: 100%;
    margin-left: 10px;
    /* overflow: hidden; */
    margin-top: 5px;
}

.title {
    font-family: 'Inter_Bold';
    font-style: normal;
    font-weight:bolder;
    font-size: 14px;
}

.description {
    font-family: 'Arial';
    font-style: normal;
    font-weight:lighter;
    text-align: left;
    overflow: hidden;
    position: relative;
    max-height: 100px;
    margin: 5px 0 5px 0;
    font-size: 13px;
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    white-space: pre-wrap;
}

.price {
    margin: 5px 0 5px 0;
    font-weight:bold;
    font-size: 13px;

}

.featured-wrapper{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-right: 1rem;
    margin-left: 1rem;
}


@media(max-width:1100px){

    .featured-products{
        width: 48%;
    }

}

@media(max-width:720px){

    .featured {
        font-family: "Populaire";
        font-size: 3rem;
        margin-top: 5rem;
        margin-left: 1rem;
        /* text-align: center; */
    }

    
    .featured-products{
        width: 100%;
    }

    /* .featured-products .img {
        width: 50%;
    } */

    .featured-products .img img{
        height: 100%;
        border-radius: 10px;
        object-fit: cover;
    }

    .featured-products .details {
        width: 100%;
        height: 100%;
        margin-left: 10px;
        /* overflow: hidden; */
        margin-top: 5px;
    }

}

@media(max-width:478px){

    .featured {
        font-family: "Populaire";
        font-size: 2rem;
        margin-top: 5rem;
        margin-left: 1rem;
        /* text-align: center; */
    }


    .featured-products {
        background: #FC803A;
        box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.25);
        border-radius: 10px;
        display: block;
        width: 100%;
        max-width: max-content;
        margin: 10px 0px 10px 0px;
        padding: 20px;
        align-content: stretch;
        position: relative;
        cursor: pointer;
    }

} 

@font-face {
    font-family: "Inter_Regular";
    src: url("../assets/Fonts/inter/Inter-Regular.otf");
}
