.track-order-container {
    align-items: center;
    margin-top: 5vw;
}

.my-orders {
    text-align: center;
    font-weight: 700;
    font-size: 3.5vmax;
    line-height: 6vw;

}

.empty-order {
    margin-top: 5vw;
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 30%;
}

.text-container {
    line-height: 7vmax;
}


.no-orders {
    font-size: 2vmax;
    text-align: center;
}

.craving {
    font-size: 2vmax;
    text-align: center;
    font-weight: lighter;
}

.add-new-order {
    margin-top: 4vw;
    margin-left: 0.4vw;
    border-radius: 7px;
    width: 30%;
    height: 50PX;
    background: #E96D1F;
    cursor: pointer;
    color: white;
    font-size: 1rem;
}

.redirect-to-menu {
    text-align: center;
}
